name: Dilsaj Music Auto Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download Dilsaj Music Project
        run: |
          git clone https://github.com/DilsajMusicAI/template.git app

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission
        run: chmod +x app/gradlew

      - name: Build APK
        run: cd app && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: DilsajMusic
          path: app/app/build/outputs/apk/debug/app-debug.apk
